        {#<div class="form-group">#}
            {#<div class="col-md-12">#}
                {#{{ form_errors(form) }}  #}
            {#</div>#}
        {#</div>#}
<table id="tabla_reporte2" class="tabla_reporte2">	
    <tbody>
      <tr id="table_header2"><td colspan="4">{% if tipo == "P" %}Oficina Principal{%else%}Oficina Sucursal{%endif%}</td></tr>
    <tr>
        <td colspan="2" style="width: 50%;">{{ form_label(form.denominacionComercial, null, {'label_attr': {'class': 'text-left col-md-12'} }) }}</td>
        <td colspan="2" style="width: 50%;">
            {{ form_widget(form.denominacionComercial, {'attr': {'class': 'col-md-10 '} }) }}
            {% if form.denominacionComercial.vars.errors[0].message is defined %}
            <span class="help-block ">
                {{ form.denominacionComercial.vars.errors[0].message }}
            </span>
            {% endif %}
        </td>
    </tr>			
    <tr>
             <td colspan="2" style="width: 50%;">{{ form_label(form.estatusLocal, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
             <td colspan="2" style="width: 50%;">
                      {{ form_widget(form.estatusLocal, {'attr': {'class': ' '} }) }}
                            {% if form.estatusLocal.vars.errors[0].message is defined %}
                            <span class="help-block ">
                                {{ form.estatusLocal.vars.errors[0].message }}
                            </span>
                            {% endif %}
             </td>
    </tr>
    <tr>
             <td colspan="2" style="width: 50%;">{{ form_label(form.propietarioLocal, null, {'label_attr': {'class': ' col-md-12 control-label text-left'} }) }}</td>
             <td colspan="2" style="width: 50%;">
                 {{ form_widget(form.propietarioLocal, {'attr': {'class': 'col-md-10 '} }) }}
                            {% if form.propietarioLocal.vars.errors[0].message is defined %}
                            <span class="help-block ">
                                {{ form.propietarioLocal.vars.errors[0].message }}
                            </span>
                            {% endif %}
             </td>
    </tr>	
    <tr>
             <td>{{ form_label(form.nombre, null, {'label_attr': {'class': ' col-md-12 control-label text-left'} }) }}</td>
             <td>{{ form_widget(form.nombre, {'attr': {'class': ' '} }) }}
                            {% if form.nombre.vars.errors[0].message is defined %}
                            <span class="help-block ">
                                {{ form.nombre.vars.errors[0].message }}
                            </span>
                            {% endif %}
                 
             </td>
             <td>{{ form_label(form.apellido, null, {'label_attr': {'class': ' col-md-12 control-label text-left'} }) }}</td>
             <td>{{ form_widget(form.apellido, {'attr': {'class': ' '} }) }}
                            {% if form.apellido.vars.errors[0].message is defined %}
                            <span class="help-block ">
                                {{ form.apellido.vars.errors[0].message }}
                            </span>
                            {% endif %}
             </td>
    </tr>
    <tr>
             <td>{{ form_label(form.ci, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
             <td>
                  {{ form_widget(form.tipoci, {'attr': {'class': ' input-mini'} }) }}
                  - {{ form_widget(form.ci) }}
                    {% if form.ci.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.ci.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>
             <td>{{ form_label(form.rif, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
             <td>
                 {{ form_widget(form.persJuridica, {'attr': {'class': 'input-mini '} }) }}
                  - {{ form_widget(form.rif) }}
                    {% if form.rif.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.rif.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>

    </tr>
    <tr>
             <td>{{ form_label(form.estado, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
             <td>{{ form_widget(form.estado, {'attr': {'class': 'estados', 'style':"width:156px !important"} }) }}
                    {% if form.estado.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.estado.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>
             <td><label class="col-md-12 control-label text-left required" for="municipios">Municipio <span class="asterisk">*</span></label></td>
             <td>
                    {{ form_widget(form.municipio, {'attr': {'class': 'municipio', 'data-selected':idmunicipio} }) }}
             </td>

    </tr>
    <tr>

             <td><label class="col-md-12 control-label text-left required" for="ciudad">Ciudad <span class="asterisk">*</span></label></td>
             <td>{{ form_widget(form.ciudad, {'attr': {'class': 'col-md-10 '} }) }}
                    {% if form.ciudad.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.ciudad.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>
             <td><label class="col-md-12 control-label text-left required" for="parroquia">Parroquia <span class="asterisk">*</span></label></td>
             <td>
                 {{ form_widget(form.parroquia, {'attr': {'class': 'parroquia', 'data-selected':idparroquia} }) }}
                 
             </td>
             
    </tr>
    <tr>
             <td>{{ form_label(form.urbanSector, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
             <td>{{ form_widget(form.urbanSector, {'attr': {'class': 'col-md-10 '} }) }}
                    {% if form.urbanSector.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.urbanSector.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>
             <td>{{ form_label(form.avCalleCarrera, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
             <td>
                 {{ form_widget(form.avCalleCarrera, {'attr': {'class': 'col-md-10 '} }) }}
                    {% if form.avCalleCarrera.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.avCalleCarrera.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>
    </tr>
    <tr>
             <td>{{ form_label(form.edifCasa, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
             <td>{{ form_widget(form.edifCasa, {'attr': {'class': 'col-md-10 '} }) }}
                    {% if form.edifCasa.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.edifCasa.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>
             <td>{{ form_label(form.ofcAptoNum, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
             <td>{{ form_widget(form.ofcAptoNum, {'attr': {'class': 'col-md-10 '} }) }}
                    {% if form.ofcAptoNum.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.ofcAptoNum.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>
    </tr>
    <tr>
             <td>{{ form_label(form.puntoReferencia, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
             <td>{{ form_widget(form.puntoReferencia, {'attr': {'class': 'col-md-10 '} }) }}
                    {% if form.puntoReferencia.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.puntoReferencia.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>
             <td>{{ form_label(form.codigoPostal, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}<span class="asterisk">*</span></td>
             <td>{{ form_widget(form.codigoPostal, {'attr': {'class': 'col-md-6 '} }) }}
                    {% if form.codigoPostal.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.codigoPostal.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>
    </tr>
    <tr>
             <td>{{ form_label(form.email, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
             <td>{{ form_widget(form.email, {'attr': {'class': 'col-md-10 '} }) }}
                    {% if form.email.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.email.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>
        <td>{{ form_label(form.fax, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
        <td>{{ form_widget(form.codFax, {'attr': {'class': ' col-md-3'} }) }}
            {{ form_widget(form.fax, {'attr': {'class': 'col-md-6 '} }) }}
            {% if form.fax.vars.errors[0].message is defined %}
                <span class="help-block ">
                        {{ form.fax.vars.errors[0].message }}
                    </span>
            {% endif %}
        </td>
    </tr>
    <tr>
             <td>{{ form_label(form.tflFijo, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
             <td>{{ form_widget(form.codTlfFijo, {'attr': {'class': ' col-md-3'} }) }}
                 {{ form_widget(form.tflFijo, {'attr': {'class': 'col-md-6 '} }) }}
                    {% if form.tflFijo.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.tflFijo.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>
             <td>{{ form_label(form.tflCelular, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
             <td>{{ form_widget(form.codTlfCelular, {'attr': {'class': ' col-md-3 '} }) }}
                 {{ form_widget(form.tflCelular, {'attr': {'class': 'col-md-6 '} }) }}
                    {% if form.tflCelular.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.tflCelular.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>
    </tr>
    <tr>
             <td>{{ form_label(form.pagWeb, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
             <td colspan="3">{{ form_widget(form.pagWeb, {'attr': {'class': 'col-md-10 '} }) }}
                    {% if form.pagWeb.vars.errors[0].message is defined %}
                    <span class="help-block ">
                        {{ form.pagWeb.vars.errors[0].message }}
                    </span>
                    {% endif %}
             </td>
    </tr>
    {#<tr>
        <td colspan="4"> <div class="col-md-2 col-md-offset-10"><button id="form_chbtn" value="Guardar" class="btn btn-primary" onclick="sFormCH();">Guardar</button></div></td>
    </tr>#}
  </tbody>
</table>

 <div class="block-separator col-md-12"></div>
 {#<div class="col-md-1 col-md-offset-10"><button type="submit" id="form_dlbtn" value="Guardar" class="btn btn-primary" >Guardar</button></div>#}
 {#{form_end(form)}#}
 <script type="text/javascript" >
 $(document).ready(function() {
      $(".estados").change(function() {
            estado = $('.estados option:selected').val();
              var Rmunicipio=Routing.generate('municipios', {estado_id: estado});
              getSelect(Rmunicipio,'.municipio',"Municipio");
        });
        
        $(".municipio").change(function() {
                estado = $('.estados option:selected').val();
                municipio = $('.municipio option:selected').val();
                var Rparroquia=Routing.generate('parroquias', {municipio_id: municipio});
                getSelect(Rparroquia,'.parroquia',"Parroquia");
        });
     $(".estados").change();
     $(".municipio").change();
    });
    function sFormCH(){
        var datach=$("#form_dch").serialize();
    }
</script>