{% extends 'CentrohipicoBundle::centroh_base.html.twig' %}
{% block content_content %}
    <br/><br/>

<div class="tab-content">
    <div class="tab-pane {%if tab is defined  and tab %}active{%endif%}" id="form">
    <div class="col-md-12">
        <h1 class="tit_principal">Datos Operadora</h1>
    </div>
    <div class="col-md-12"><p>Los campos con <span class="oblig">(*)</span> son obligatorios. Por favor ingrese los todos los Datos de la oficina principal para guardar</p></div>
    <div class="row col-lg-12">
        {{ form_start(form,{'attr':{'id':'form_dop'}}) }}
        {% include 'CentrohipicoBundle:DataOperadora:DOpertable_form.html.twig'  %}
        <div class="col-md-12 form-group btn-group">
            <div style="float: right">
                <button id="form_btn" type="submit" class="btn btn-primary btn-sm">Guardar</button>
            </div>
        </div>
    </div>   
    {{form_end(form)}}
    </div>

  {% if entity.id %}

      {% include 'CentrohipicoBundle:DataOperadora:verDatos.html.twig'%}

    {#<div class="tab-pane {%if tab is not defined or not tab %}active{%endif%}" id="datos">#}
        {#<div class="col-md-12">#}
            {#<h1 class="tit_principal">Oficina Principal</h1>#}
        {#</div>#}
        {#<div class="col-md-12 form-group btn-group">#}
            {#<table  class="record_properties table table-condensed">#}
                {#<thead>#}
                {#<tr>#}
                    {#<th colspan="2" > Detalles de la Oficina</th>#}
                {#</tr>#}
                {#</thead>#}
                {#<tbody>#}
                {#<tr>#}
                    {#<th>Denominación Comercial del lugar </th>#}
                    {#<td>{{ entity.denominacionComercial }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Local Propio o arrendado </th>#}
                    {#<td>{{ entity.estatusLocal}}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>RIF</th>#}
                    {#<td>{{ entity.persJuridica }}- {{ entity.rif  }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Cedula</th>#}
                    {#<td>{{ entity.ci }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Nombre</th>#}
                    {#<td>{{ entity.nombre }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Apellido</th>#}
                    {#<td>{{ entity.apellido }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Fax</th>#}
                    {#<td>{{ entity.fax }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Teléfono Fijo</th>#}
                    {#<td>{{ entity.codTlfFijo }} {{ entity.tflFijo }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Teléfono Celular</th>#}
                    {#<td>{{ entity.codTlfCelular }} {{ entity.tflCelular }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Email</th>#}
                    {#<td>{{ entity.email}}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Página Web</th>#}
                    {#<td>{{ entity.pagWeb }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th colspan="2" >Datos Legales Direccion </th>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Estado</th>#}
                    {#<td>{%if entity.estado|length > 0%}#}
                            {#{{ entity.estado.nombre}}#}
                        {#{%endif%}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Municipio</th>#}
                    {#<td>{%if entity.municipio|length > 0%}#}
                            {#{{ entity.municipio.nombre }}#}
                        {#{%endif%}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Ciudad</th>#}
                    {#<td>{{ entity.ciudad}}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Parroquia</th>#}
                    {#<td>{%if entity.parroquia|length > 0%}#}
                            {#{{ entity.parroquia.nombre }}#}
                        {#{%endif%}#}
                    {#</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Av/Calle/Carretera</th>#}
                    {#<td>{{ entity.avCalleCarrera}}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Edif/Casa</th>#}
                    {#<td>{{ entity.edifCasa }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Oficina/Apto/No</th>#}
                    {#<td>{{ entity.ofcAptoNum }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Punto Referencia</th>#}
                    {#<td>{{ entity.puntoReferencia }}</td>#}
                {#</tr>#}
                {#<tr>#}
                    {#<th>Código Postal</th>#}
                    {#<td>{{ entity.codigoPostal }}</td>#}
                {#</tr>#}
                {#</tbody>#}
            {#</table>#}
        {#</div>#}
     {% elseif message is defined %}
        <div class="col-md-12">
            <div id="notificaciones">
                <ul>
                    <li class="n1"><h5>{{ message }}</h5> <a href="{{ path('operadora_new') }}">Agregar Representante legal</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
    </div>


{%if not tab %}
        <div class="col-md-12">
            <div style="float: left">
                <a href="{{ path('operadora') }}" class="btn btn-success btn-sm">Regresar</a>
            </div>
            <div style="float: right">
                <a href="#datos"  class="btn btn-default" role="tab" data-toggle="tab">Ver</a>
                <a href="#form" class="btn btn-primary" role="tab" data-toggle="tab">Editar</a>
            </div>
        </div>
{%endif%}
    </div>

    {% endblock %}
{% block foot_script_assetic %}
    <script type="text/javascript" >
        $(document).ready(function(){
            $('#tabs').tabs();
            $("#dataoper #datalegal").show();
        });
    </script>
    <script src="{{asset('bundles/centrohipico/js/resource.js')}}"></script>
    <script src="{{asset('bundles/centrohipico/js/DataOperadora/validate.js')}}"></script>
    <script type="text/javascript" >
        $(document).ready(function(){
            //$('#tabs').tabs();
            $(".form-horizontal").removeClass('form-horizontal');
            $(".form-control").removeClass('form-control');
            $("#dataoper #datalegal").show();
            $("#temp").hide();
            $("#addDL").click(function(){
                agregarDL();
            });
        });

        function agregarDL(){
            $("#btnDL").hide();
            $("#fDL").show();
            $("#fDL").html(getGifLoading());
            //var route=Routing.generate('datalegal_new');
            $.get('{{path('datalegal_new')}}').success(function(data) {
                if (data.message) {
                    message = data.message;
                } else {
                    $('#datalegal').html(data);
                }
            }).error(function(data, status, headers, config) {
                        if (status === '500') {
                            message = "No hay conexión con el servidor";
                        }
                    });
        }
        function sFormDL(){
            var datach=$("#form_dl").serialize();
            $("#form_dl").hide();
            $("#fDL").hide();
            $("#btnDL").show();
            //$.post()
        }
    </script>
{% endblock foot_script_assetic %}