{% extends 'FiscalizacionBundle::base.html.twig' %}

{% block content_content %} 
<div class="col-md-11">
    <div class="block-separator col-sm-11"></div>

    <h1>Lista de Fiscalizacion {% block titulo %}{% endblock %}</h1>

    {% if hidden_button is not defined %}
    {% if is_granted('ROLE_GERENTE') or is_granted('ROLE_FISCAL') %}
    <a href="{{ path('fiscalizacion_fiscalizar') }}" class="btn btn-primary">
    Fiscalizar
    </a>
    {% endif %}
    <a href="{{ path('fiscalizacion_citados') }}" class="btn btn-default">
    Ver Citados
    </a>
    <a href="{{ path('fiscalizacion_multados') }}" class="btn btn-default">
    Ver Multados
    </a>
    {% endif %}
    
    <div class="left">
            {% if entities|length > 0 %}
                <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable" style="width: 50%">
                    {{ knp_pagination_render(entities) }}
                </article>
            {% endif %}
        </div>
    <br/><br>
    {% if entities|length > 0 %}
        {{ include('ExportBundle::iconslink.html.twig', {'pdf':'exportpdf_fiscalizacion_'~tipo,'xcel':'exportxls_fiscalizacion_'~tipo}) }}
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>No</th>
                {% block preheader %}{% endblock %}
                <th>D. Comercial</th>
                <th>RIF</th>
                <th>Providencia</th>
                <th>Responsable</th>
                <th>Cedula</th>
                <th>Cargo</th>
                <th>Estatus</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% set est = entity.centro | default(entity.operadora) %}
            <tr>
                <td><a href="{{ path('fiscalizacion_show', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                {% block precols %}{% endblock %}
                <td>{{ est.denominacionComercial }}</td>
                <td>{{ est.persJuridica}}-{{est.rif}}</td>
                <td>{{ entity.providencia.num | default('-') }}</td>
                <td>{{ entity.responsable }}</td>
                <td>{{ entity.cedula }}</td>
                <td>{{ entity.cargo }}</td>
                <td>{{ entity.estatus }} </td>
                <td>
                    {% block preactions %}{% endblock %}
                    <a class="btn btn-info btn-sm" href="{{ path('fiscalizacion_show', { 'id': entity.id }) }}">Ver</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
        {% else %}
        <div class="col-md-12">
            <div id="notificaciones">
                <ul>
                    <li class="n1"><h5>No se encontraron resultados</h5></li>
                </ul>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
