<table id="tabla_reporte2" class="tabla_reporte2">
<tbody>
{#<tr id="table_header2">#}
    {#<td colspan="4">Datos del apoderado o representante legal</td>#}
{#</tr>#}
<input type="hidden" name="typeForm" value="2">
<input type="hidden" id="partnerIdField" name="partnerId" value="0">
<input type="hidden" id="parentIdField" name="parentId" value="0">
<input type="hidden" id="pers_juridicaPartner" name="pers_juridicaPartner" value="0">
<input type="hidden" id="rifPartner" name="rifPartner" value="0">
<tr>
    <td>{{ form_label(form.nombre, null, {'label_attr': {'class': ' col-md-12 control-label text-left'} }) }}</td>
    <td>{{ form_widget(form.nombre, {'attr': {'class': ' '} }) }}
        {% if form.nombre.vars.errors[0].message is defined %}
            <span class="help-block ">
                                {{ form.nombre.vars.errors[0].message }}
                            </span>
        {% endif %}

    </td>
    <td>{{ form_label(form.apellido, null, {'label_attr': {'class': ' col-md-12 control-label text-left'} }) }}</td>
    <td>{{ form_widget(form.apellido, {'attr': {'class': ' '} }) }}
        {% if form.apellido.vars.errors[0].message is defined %}
            <span class="help-block ">
                                {{ form.apellido.vars.errors[0].message }}
                            </span>
        {% endif %}

    </td>

</tr>
<tr>
    <td>{{ form_label(form.ci, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
    <td colspan="3">
        {{ form_widget(form.tipoci, {'attr': {'class': ' input-mini'} }) }}
        - {{ form_widget(form.ci, {'attr': {'class': ' '} }) }}
        {% if form.ci.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.ci.vars.errors[0].message }}
                    </span>
        {% endif %}

    </td>

</tr>
<tr>
    <td>{{ form_label(form.estado, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
    <td>{{ form_widget(form.estado, {'attr': {'class': 'dlestadoSocio', 'style':"width:156px !important"} }) }}
        {% if form.estado.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.estado.vars.errors[0].message }}
                    </span>
        {% endif %}

    </td>
    <td>{{ form_label(form.municipio, null, {'label_attr': {'class': ' col-md-12 text-left control-label'} }) }}</td>
    <td>{{ form_widget(form.municipio, {'attr': {'class': 'dlmunicipioSocio ', 'disabled':'disabled'} }) }}
        {% if form.municipio.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.municipio.vars.errors[0].message }}
                    </span>
        {% endif %}
    </td>

</tr>
<tr>
    <td>{{ form_label(form.ciudad, null, {'label_attr': {'class': ' col-md-12 text-left control-label'} }) }}</td>
    <td>{{ form_widget(form.ciudad, {'attr': {'class': 'col-md-10 '} }) }}
        {% if form.ciudad.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.ciudad.vars.errors[0].message }}
                    </span>
        {% endif %}
    </td>
    <td>{{ form_label(form.parroquia, null, {'label_attr': {'class': ' col-md-12 text-left control-label'} }) }}</td>
    <td>{{ form_widget(form.parroquia, {'attr': {'class': 'dlparroquiaSocio', 'disabled':'disabled'} }) }}
        {% if form.parroquia.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.parroquia.vars.errors[0].message }}
                    </span>
        {% endif %}
    </td>
</tr>
<tr>
    <td>{{ form_label(form.urbanSector, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
    <td>{{ form_widget(form.urbanSector, {'attr': {'class': 'col-md-10 '} }) }}
        {% if form.urbanSector.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.urbanSector.vars.errors[0].message }}
                    </span>
        {% endif %}
    </td>
    <td>{{ form_label(form.avCalleCarrera, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
    <td>
        {{ form_widget(form.avCalleCarrera, {'attr': {'class': 'col-md-10 '} }) }}
        {% if form.avCalleCarrera.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.avCalleCarrera.vars.errors[0].message }}
                    </span>
        {% endif %}

    </td>
</tr>
<tr>
    <td>{{ form_label(form.edifCasa, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
    <td>{{ form_widget(form.edifCasa, {'attr': {'class': 'col-md-10 '} }) }}
        {% if form.edifCasa.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.edifCasa.vars.errors[0].message }}
                    </span>
        {% endif %}
    </td>
    <td>{{ form_label(form.ofcAptoNum, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
    <td>{{ form_widget(form.ofcAptoNum, {'attr': {'class': 'col-md-10 '} }) }}
        {% if form.ofcAptoNum.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.ofcAptoNum.vars.errors[0].message }}
                    </span>
        {% endif %}


    </td>
    {#            #}
</tr>
<tr>
    <td>{{ form_label(form.puntoReferencia, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
    <td>{{ form_widget(form.puntoReferencia, {'attr': {'class': 'col-md-10 '} }) }}
        {% if form.puntoReferencia.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.puntoReferencia.vars.errors[0].message }}
                    </span>
        {% endif %}

    </td>

    <td>{{ form_label(form.codigoPostal, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
    <td>{{ form_widget(form.codigoPostal, {'attr': {'class': 'col-md-6 '} }) }}
        {% if form.codigoPostal.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.codigoPostal.vars.errors[0].message }}
                    </span>
        {% endif %}

    </td>
</tr>
<tr>
    <td>{{ form_label(form.email, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
    <td>{{ form_widget(form.email, {'attr': {'class': 'col-md-10 '} }) }}
        {% if form.email.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.email.vars.errors[0].message }}
                    </span>
        {% endif %}
    </td>
    <td>{{ form_label(form.fax, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
    <td>{{ form_widget(form.codFax, {'attr': {'class': ' col-md-4'} }) }}
        {{ form_widget(form.fax, {'attr': {'class': 'col-md-6 '} }) }}
        {% if form.fax.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.fax.vars.errors[0].message }}
                    </span>
        {% endif %}
    </td>
</tr>
<tr>
    <td>{{ form_label(form.tflFijo, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
    <td>{{ form_widget(form.codTlfFijo, {'attr': {'class': ' col-md-4'} }) }}
        {{ form_widget(form.tflFijo, {'attr': {'class': 'col-md-6 '} }) }}
        {% if form.tflFijo.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.tflFijo.vars.errors[0].message }}
                    </span>
        {% endif %}
    </td>
    <td>{{ form_label(form.tflCelular, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
    <td>{{ form_widget(form.codTlfCelular, {'attr': {'class': ' col-md-4 '} }) }}
        {{ form_widget(form.tflCelular, {'attr': {'class': 'col-md-6 '} }) }}
        {% if form.tflCelular.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.tflCelular.vars.errors[0].message }}
                    </span>
        {% endif %}
    </td>
</tr>
<tr>
    <td>{{ form_label(form.pagWeb, null, {'label_attr': {'class': ' col-md-12 text-left'} }) }}</td>
    <td colspan="3">{{ form_widget(form.pagWeb, {'attr': {'class': 'col-md-10 '} }) }}
        {% if form.pagWeb.vars.errors[0].message is defined %}
            <span class="help-block ">
                        {{ form.pagWeb.vars.errors[0].message }}
                    </span>
        {% endif %}

    </td>
</tr>
<tr>
    <td colspan="4"> <div class="col-md-2 col-md-offset-10"><button type="submit" class="btn btn-primary btn-sm">Guardar socio</button></div></td>
</tr>

</tbody>
</table>
<div class="block-separator col-md-12"></div>
{{form_widget(form._token)}}
<script type="text/javascript" >
    $(document).ready(function(){
        $(".form-horizontal").removeClass('form-horizontal');
        $(".form-control").removeClass('form-control');
        $(".dlestadoSocio").change(function() {
            estado = $('.dlestadoSocio option:selected').val();
            var Rmunicipio=Routing.generate('municipios', {estado_id: estado});
            getSelect(Rmunicipio,'.dlmunicipioSocio',"Municipio");
            $(".dlmunicipioSocio").removeAttr('disabled');
            //var Rciudad=Routing.generate('ciudades', {estado_id: estado, municipio_id: null});
            //console.log(Rciudad);
            //getSelect(Rciudad,'#dlciudad',"Ciudad");
        });
        $(".dlmunicipioSocio").change(function() {
            estado = $('.dlestadoSocio option:selected').val();
            municipio = $('.dlmunicipioSocio option:selected').val();
            var Rparroquia=Routing.generate('parroquias', {municipio_id: municipio});
            $(".dlparroquiaSocio").removeAttr('disabled');
            getSelect(Rparroquia,'.dlparroquiaSocio',"Parroquia");
        });
    });

</script>