
<!--BLOQUE DE MENU LATERAL INFORMES-->
<h3>Informes</h3>
<ul class="menu2">
    <li><a href="{{ path('informe_xmes', {'reporte': 'licencias'}) }}" title="Licencias">Licencias</a></li>
    <li><a href="{{ path('informe_xmes', {'reporte': 'fiscalizaciones'}) }}" title="Fiscalización">Fiscalización</a></li>
    <li><a href="{{ path('informe_xmes', {'reporte': 'ingresos'}) }}" title="Ingresos">Ingresos</a></li>
    <li><a href="{{ path('informe_xmes', {'reporte': 'usuarios'}) }}" title="Usuarios">Usuarios</a></li>
    <li><a href="{{ path('informe_ejecutivo') }}" title="Informe Ejecutivo">Informe Ejecutivo</a></li>
</ul>