<h3>Administración de Usuarios</h3>
<ul class="menu2">
    <li><a href="{{path('listado')}}" title="Usuarios">Usuarios</a></li>
</ul>

<h3>Administrador de Licencias</h3>
<ul class="menu2">
    <li><a href="{{path('admtipoaporte')}}" title="Aportes de Licencias">Aportes de Licencias</a></li>
    <li><a href="{{path('admclasflicencias')}}" title="Licencias">Licencias</a></li>
    <li><a href="{{path('admtiposlicencias')}}" title="Tipos de Licencias">Tipos de Licencias</a></li>
    <li><a href="{{path('admrecaudoslicencias')}}" title="Recaudos">Recaudos</a></li>
    <li><a href="{{path('admjuegosexplotados')}}" title="Juegos Explotados">Juegos Explotados</a></li>
    <li><a href="{{path('admclasfestab')}}" title="Clasificación de Establecimientos">Clasificación de Establecimientos</a></li>    
</ul>

<h3>Bancos</h3>
<ul class="menu2">
    <li><a href="{{path('banco')}}" title="Bancos">Consultar</a></li>
</ul>