{% extends 'SolicitudesCitasBundle::solicitud_base.html.twig' %}  
{% block content_content %}
    <div id="contendor" style="padding: 0px !important">
        <div class="block-separator col-md-12"></div>
	<h2 class="tit_principal">Solicitud Licencia Centro Hípico</h2>
		<br /><br /><br />
              <div class="col-md-12">
		<div id="texto">Estimado Usuario, Para solicitar una cita, deber&aacute; antes adjuntar todos los recaudos, seg&uacute;n la licencia que solicite. Por cada Licencia deber&aacute; realizar una solicitud.</div>
		<div id="texto">Los campos con <span class="oblig">(*)</span> son obligatorios.</div>
		<div style="clear:both;"></div>
               </div>   
           <div class="col-md-12">
                <div class="form-group">
                  {% for type, flashMessage in app.session.flashbag.all() %}
                     <div class="alert alert-{{ type }} ">
                         <button class="close" data-dismiss="alert" type="button"></button>
                         {% if flashMessage.title is defined %}
                         <strong>{{ flashMessage.title }}</strong>
                         {{ flashMessage.message }}
                         {% else %}
                         {{ type }}
                         {% endif %}
                     </div>
                  {% endfor %}
                </div>
            </div>
            <div class="col-md-12">                
            {{ form_start(form,{'attr': {'id':'form_dsch'} }) }}        
	    <div id="accordion" class="">
		<h3>1. Seleccione el Centro H&iacute;pico</h3>
		<div>
		    <div class="text-center col-lg-4">Centro Hipico <span class="oblig">(*)</span></div>
		    {#<div class="text-center col-md-4">{{form_label(form.centroHipico, null, {'label_attr': {'class': 'text-left col-md-12'} })|raw }}</div>#}
                    <div class="text-center col-md-4">
                            {{ form_widget(form.centroHipico, {'attr': {'class': 'centrohipico form-control'},'id':'dch' }) }}
                            {% if form.centroHipico.vars.errors[0].message is defined %}
                            <span class="help-block ">
                                {{ form.centroHipico.vars.errors[0].message }}
                            </span>
                            {% endif %}
                     </div>
		</div>
		<h3>2. Seleccionar el Tipo de Autorizaci&oacute;n</h3>
		<div>
                        <div class="col-md-3">Tipo de Autorizaci&oacute;n <span class="oblig">(*)</span></div>
                        <div class="col-md-4">
                            {{ form_widget(form.ClasLicencia, {'attr': {'class': 'licencia form-control'},'id':'alic' }) }}
                            {% if form.ClasLicencia.vars.errors[0].message is defined %}
                            <span class="help-block ">
                                {{ form.ClasLicencia.vars.errors[0].message }}
                            </span>
                            {% endif %}                                
                        </div>
                        <div class="col-md-4" id="operadora_establecimiento" >                            
                        </div>                        
		</div>

		<h3>3. Seleccione los Juegos a Explotar</h3>
		<div>
                        <div class="col-md-3">Juegos a Explotar <span class="oblig">(*)</span>: </div>
                        <div id="juegos_explotar" class="col-md-7"><p>Para ver Lista: Seleccione Tipo de Autorización y Centro hípico</p></div>
		</div>

		<h3>4. Adjuntar Recaudos</h3>
		<div id="lista_recaudos">
                      <p>Para ver: Seleccione Tipo de Autorización y Centro hipico</p>
		</div>
		<h3>5. Pago por Procesamiento</h3>
                  <div id="pago_procesamiento">
		    <p>Para ver: Seleccione Tipo de Autorización y Centro hipico</p>
		</div>

		<h3>6. Seleccionar D&iacute;a de Cita</h3>
              <div>
                  <div class="col-md-3"><label for="date">Fecha de Cita <span class="oblig">(*)</span>:</label> <br/>
                   <input type="text" id="date" name="datacita" placeholder="Fecha dd/mm/aaaa" class="" size="13px;"/> <div id="error"></div>
                  </div>
                 <div class="col-md-4 "><div id="datepick"></div> </div>
                 <div class="col-md-4 col-offset-2 alert-warning">
                     Debe seleccionar alguno de los Días Activos. A partir del Día de mañana hasta 15 días para seleccionar la fecha de la cita
                 </div>
              </div><!--  FIN TABS 4 -->
        </div>
        <div class="block-separator col-md-12"></div>
        <div class="col-md-4 col-md-offset-8 text-right">
                 <a href="{{ path('solicitudes_list') }}" class="btn btn-warning btn-sm">Cancelar</a>
                 <a href="#" id="gensol" class="btn btn-primary btn-sm">Generar Solicitud</a>
        </div>        
         {{ form_widget(form._token)}}
       </form>  <!-- End form-->
      </div>                 
        <div class="block-separator col-md-12"></div> 
</div>      
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="myModalLabel">Notificación</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 alert text-left" id="myMessage">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{% block foot_script_assetic %}
        {{ parent() }}

 <script src="{{asset('bundles/solicitudescitas/js/solfun.js')}}"></script>
  <script type="text/javascript">
        $(document).ready(function() {
                ActiveCalendar();
                $( "#accordion" ).accordion({
		    heightStyle: "content"
		});		
                $("#gensol").on("click",function(){
                    GenerarSolicitud();
                });
               
                //Se carga las operadoras afiliadas
                $("#alic").change(function(){
                    var centro=$( "#dch option:selected" ).val();
                    if(centro == "") {
                        $("#alic").val("");
                        $("#myMessage").html("Debe seleccionar Centro Hípico.");
                        $("#myModal").modal("show");
                    } else {
                        var id=$("#alic option:selected").val();                    
                        if(id != "") {
                            var url = Routing.generate('datasolicitudes_operadora_establecimiento',{ 'id': id, 'idCentro': centro });
                            $("#operadora_establecimiento").html("Cargando ...");
                            $.ajax({
                                async: false,
                                type: "POST",
                                cache: false,
                                url: url,
                                //data: $("#form-info").serialize(),
                                dataType: "json",
                                success: function(response) {
                                    if(response.status == 'true') {
                                        if(response.mensaje != "") {
                                            $("#operadora_establecimiento").html(response.mensaje);
                                        }
                                        // Juegos a Explotar
                                        getRoute("#juegos_explotar",'datasolicitudes_juegoslist',id);
                                        //Recaudos
                                        getRoute("#lista_recaudos",'datasolicitudes_recaudoslist',id);
                                    } else {
                                        $("#myMessage").html(response.mensaje);                                        
                                        $("#myModal").modal("show");
                                        
                                        $("#alic").val("");
                                        $("#operadora_establecimiento").html("");
                                        $("#juegos_explotar").html("<p>Para ver Lista: Seleccione Tipo de Licencia</p>");
                                        $("#lista_recaudos").html("<p>Para ver: Seleccione Tipo de Licencia </p>");
                                        $("#pago_procesamiento").html("<p>Para ver: Seleccione Tipo de Licencia </p>");
                                    }
                                },
                                error: function(){
                                    $("#myMessage").html("Error al cargar los datos. Por favor vuelva a intentar más tarde.");
                                    $("#myModal").modal("show");
                                    
                                    $("#alic").val("");
                                    $("#operadora_establecimiento").html("");
                                    $("#juegos_explotar").html("<p>Para ver Lista: Seleccione Tipo de Licencia</p>");
                                    $("#lista_recaudos").html("<p>Para ver: Seleccione Tipo de Licencia </p>");
                                    $("#pago_procesamiento").html("<p>Para ver: Seleccione Tipo de Licencia </p>");
                                }
                            });                        
                        } else {
                            $("#operadora_establecimiento").html("");
                            $("#juegos_explotar").html("<p>Para ver Lista: Seleccione Tipo de Licencia</p>");
                            $("#lista_recaudos").html("<p>Para ver: Seleccione Tipo de Licencia </p>");
                            $("#pago_procesamiento").html("<p>Para ver: Seleccione Tipo de Licencia </p>");
                        }
                    }
                });
       });

function ValidaForm(){
    var resp=1,msg=new Array();
    // Validación de Cita
    var arrdate=$( "#date" ).val().split("/");
    var datets = Date.parse(arrdate[2]+"-"+arrdate[1]+"-"+arrdate[0]);
    if(isNaN(datets)) {
        msg.push("- Debe Seleccionar una Fecha para la Cita<br>"); 
        resp=0;
    }
    $("input:file").each(function(index,elem){
       if ($(this).val()===''){resp=0;msg.push("- Faltan Documentos de Recaudos<br/>");return false;}
    });
    $(".date").each(function(index,elem){
       if (!$(this).hasClass('disabled')){
          if($(this).val()===''){
            resp=0;
            msg.push("- Falta Asignar Fechas de Recaudos<br/>");
            return false;
          }
      }
    });

    if($('#juegoe').length){
        if($("#juegoe option:selected").val()==='') {resp=0;msg.push("- Debe seleccionar los Juegos<br/>");}
    }
    if($("#dch option:selected").val()==='') {resp=0; msg.push("- Seleccione el Centro Hípico<br/>");}
    if($("#alic option:selected").val()==='') {resp=0; msg.push("- Seleccione una Licencia<br/>");}
    if($("#banco option:selected").val()==='') {resp=0; msg.push("- Seleccione un Banco<br/>");}
    if($("#reciboNP").val()==='' || parseInt($("#reciboNP").val())===0) {resp=0;msg.push("- Falta el Número de Recibo de Pago<br/>");}
    
    $("#myMessage").html("Aun Faltan Campos Por Rellenar en la Solicitud:<br/>"+msg.toString().replace(',', '').replace(',', ''));
    $("#myModal").modal("show");
    return resp===1?true:false;  
}       
</script>          
{% endblock foot_script_assetic %}          