{% extends 'SolicitudesCitasBundle::solicitud_base.html.twig' %}  
{% block content_content %}
    <div id="contendor">
        <br/>
	<div class="tit_principal">Solicitud Centro Hípico Generada</div>
         <br /><br /><br />
         
             <table id="tabla_reporte2">
                 <tbody>
                       <tr id="table_header2">
                            <td>Nº Localizador</td>
                            <td>Denominación</td>
                            <td>Fecha Solicitud </td>
                            <td>Fecha de Cita  &nbsp;</td>
                            <td>Tipo de Autorización</td>
                            <td>Pago Procesamiento</td>
                            <td>Pago Otorgamiento</td>
	               </tr>
                        <tr>
                            <td class="text-center bg-white">{{entity.codsolicitud}}</td>
                            <td class="text-center bg-white">{{entity.centroHipico.denominacionComercial}}</td>
                            <td class="text-center bg-white">{{entity.fechaSolicitud|date('d-m-Y')}}</td>
                            <td class="text-center bg-white">{{entity.cita.fechaSolicitud|date('d-m-Y')}}</td>
                            <td class="text-center bg-white">{{entity.ClasLicencia.clasfLicencia}}</td>
                            <td class="text-center bg-white">{{entity.ClasLicencia.solicitudUt * unidad_tributaria | number_format(2, ',', '.') }} Bs</td>
                            <td class="text-center bg-white">{{entity.ClasLicencia.otorgamientoUt * unidad_tributaria | number_format(2, ',', '.') }} Bs</td>
                         </tr>
		</tbody>
             </table>              
       <br/><br/>
      <div class="col-md-2 col-md-offset-6"> 
          <a href="{{path('solicitudes_list')}}" class="btn btn-warning"><i class="fa fa-list"></i> Ir a Solicitudes</a>
      </div> 
      {#<div class="col-md-2 "> 
          <a href="#" class="btn btn-info"><i class="fa fa-archive"></i> Generar PDF</a>
      </div>#}                  
      <div class="col-md-2"> 
          <a href="{{path('solicitudes_printGen',{'id':entity.id,'tipo':'1'})}}" target="_blank" class="btn btn-info"><i class="fa fa-print"></i> Imprimir</a>
          {# Se puede generar una plantilla que Solo muestre los Datos en Plano y no Genere Estilos#}
      </div>                  
 </div>   
{% endblock %}
