{% extends "NewTemplateBundle::base.html.twig" %}

{% block content_content %}
    <div class="block-separator col-sm-12"></div>
    <div class="row col-sm-12">
        <h1>Gesti&oacute;n de fiscales</h1>
    </div>

    <div class="block-separator col-sm-12"></div>

    <div id="action">
        <div class="left">
            {% if entities | length > 0 %}
                <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable" style="width: 50%">
                    {{ knp_pagination_render(entities) }}
                </article>
            {% endif %}
        </div>
    </div>
   {{ include('ExportBundle::iconslink.html.twig', {'pdf':'exportpdf_fiscales','xcel':'exportxls_fiscales'}) }}
    <div class="col-md-12">
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>Nº</th>
                <th>Cedula de identidad</th>
                <th>Nombre y apellido</th>
                <th>Fecha de ingreso</th>
                <th>Estatus</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in entities %}
                <tr>
                    <td>{{loop.index}}{#{ usuario.id }#}</td>
                    <th>
                        {% if usuario.perfil[0].ci > 1 %}
                            {{ usuario.perfil[0].ci }}
                        {% else %}
                            {{ usuario.perfil[0].rif }}
                        {% endif %}
                    </th>
                    <td>{{ usuario.perfil[0].getNombre|e }} {{ usuario.perfil[0].getApellido|e }}</td>
                    <td>08/09/2014</td>
                    <td class="text-center">{% if usuario.enabled == "1" %}<i class="fa fa-check-circle-o"></i> Activo{% else %}<i class="fa fa-times-circle-o"></i> Inactivo{% endif %}</td>
                    <td class="text-center">
                        {% if usuario.enabled == "1" %}
                            <a data-href="{{ path('fiscal-change-status', {'user_id': usuario.id, 'status_id': 0 }) }}" data-toggle="modal" data-target="#confirm-disable" href="#"><i class="fa fa-minus-square-o" data-toggle="tooltip" data-placement="top" title="Desactivar"></i></a>
                        {% else %}
                            <a data-href="{{ path('fiscal-change-status', {'user_id': usuario.id, 'status_id': 1 }) }}" data-toggle="modal" data-target="#confirm-enable" href="#"><i class="fa fa-plus-square-o" data-toggle="tooltip" data-placement="top" title="Activar"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="block-separator col-sm-12"></div>

    <div class="modal fade" id="confirm-enable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Activar Fiscal
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea activar el fiscal?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a href="#" class="btn btn-danger danger">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm-disable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Desactivar Fiscal
                </div>
                <div class="modal-body">
                    ¿Está seguro que desea desactivar el fiscal?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a href="#" class="btn btn-danger danger">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_base %}
    {{ parent() }}
    <script type="text/javascript">
        $('#confirm-enable').on('show.bs.modal', function(e) {
            $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
        });
        $('#confirm-disable').on('show.bs.modal', function(e) {
            $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
        });

    </script>
{% endblock %}
