<table id="tabla_reporte">
    <tbody><tr id="table_header">
        <td colspan="4" style="color: white">Nombre del Fiscal: <strong>{{ user.perfil[0].getNombre|e }} {{ user.perfil[0].getApellido|e }}</strong></td>
    </tr>
    <tr>
        <td colspan="3" style="width: 75%; text-align: right;">Cédula de Identidad:</td>
        <td><strong>
                {% if user.perfil[0].ci > 1 %}
                    {{ user.perfil[0].ci }}
                {% else %}
                    {{ user.perfil[0].rif }}
                {% endif %}
            </strong></td>
    </tr>
    <tr>
        <td style="width: 40%"></td>
        <td></td>
        <td style="width: 25%; text-align: right;">Estado:</td>
        <td><strong>{% if user.enabled == "1" %}<i class="fa fa-check-circle-o"></i> Activo{% else %}<i class="fa fa-times-circle-o"></i> Inactivo{% endif %}</strong></td>
    </tr>

    </tbody>
</table>
<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
        <li class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="true"><a href="#tabs-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Gestiones Realizadas</a></li>
    </ul>
    <div id="tabs-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-expanded="true" aria-hidden="false">
        <table id="tabla_reporte2">
            <tbody><tr id="table_header2">
                <td>Nº</td>
                <td>RIF</td>
                <td>Denominación Comercial</td>
                <td>Fecha de <br>Fiscalización</td>
                <td>Estatus de Fiscalización</td>
            </tr>
            {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>
                    {% if entity.operadora.persJuridica  is defined %}
                        {{ entity.operadora.persJuridica }}-{{ entity.operadora.rif }}
                    {% else %}
                        {{ entity.centro.persJuridica }}-{{ entity.centro.rif }}
                    {% endif %}
                </td>
                <td>
                    {% if entity.operadora.denominacionComercial is defined %}
                        {{ entity.operadora.denominacionComercial }}
                    {% else %}
                        {{ entity.centro.denominacionComercial }}
                    {% endif %}
                </td>
                <td class="center">{{ entity.fecha|date("d/m/Y") }}</td>
                <td><strong>{{ entity.estatus }}</strong></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>