{% extends "NewTemplateBundle::base.html.twig" %}

{% block content_content %}
    <div class="page-header">
        <h1>Editar usuario</h1>
    </div>

    <div class="padding-15">
        {{ form_start(form, {'attr': {'class':'form-horizontal', 'role':"form", "id": "form-user_edit"}}) }}
        {{ form_errors(form) }}
        {{ form_errors(form_perfil) }}
        <fieldset>
            <div class="form-group">
                {{ form_label(form_perfil.roleType, null, { 'label_attr': { 'class':'col-sm-4 padding-1' }}) }}
                <div class="col-sm-8">
                    <div class="col-sm-12 padding-1">
                        {{ form_widget(form_perfil.roleType) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form_perfil.persJuridica, null, { 'label_attr': { 'class':'col-sm-4 padding-1' }}) }}
                <div class="col-sm-8">
                    <div class="col-sm-3 padding-1">
                        {{ form_widget(form_perfil.persJuridica, { 'attr':{'readonly':'readonly'}}) }}
                    </div>
                    <div class="col-sm-9 padding-1">
                        {{ form_widget(form_perfil.rif, { 'attr':{'readonly':'readonly'}}) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form_perfil.ci, null, { 'label_attr': { 'class':'col-sm-4 padding-1' }}) }}
                <div class="col-sm-8">
                    <div class="col-sm-12 padding-1">
                        {{ form_widget(form_perfil.ci) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form_perfil.nombre, null, { 'label_attr': { 'class':'col-sm-4 padding-1' }}) }}
                <div class="col-sm-8">
                    <div class="col-sm-12 padding-1">
                        {{ form_widget(form_perfil.nombre) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form_perfil.apellido, null, { 'label_attr': { 'class':'col-sm-4 padding-1' }}) }}
                <div class="col-sm-8">
                    <div class="col-sm-12 padding-1">
                        {{ form_widget(form_perfil.apellido) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.email, null, { 'label_attr': { 'class':'col-sm-4 padding-1' }}) }}
                <div class="col-sm-8">
                    <div class="col-sm-12 padding-1">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.password, null, { 'label_attr': { 'class':'col-sm-4 padding-1' }}) }}
                <div class="col-sm-8">
                    <div class="col-sm-12 padding-1">
                        {{ form_widget(form.password, { 'attr': {'maxlength': '8'} }) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.confirm, null, { 'label_attr': { 'class':'col-sm-4 padding-1' }}) }}
                <div class="col-sm-8">
                    <div class="col-sm-12 padding-1">
                        {{ form_widget(form.confirm, { 'attr': {'maxlength': '8'} }) }}
                    </div>
                </div>
            </div>
            <div style="color: #E70202;display: none" id="notEquals"></div>
            <div class="form-group">
                <div class="col-sm-2 padding-1"></div>
                <div class="col-sm-10">
                    <div class="col-sm-12 padding-1">
                        {{ form_widget(form.enabled) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-11">
                    <div class="col-sm-12 padding-1">
                        <button id="form_btn" type="submit" class="btn btn-default pull-right">Actualizar</button>
                    </div>
                </div>
            </div>
        </fieldset>
        {{ form_widget(form._token) }}
        {{ form_widget(form_perfil._token) }}
        {{ form_end(form) }}
    </div>
{% endblock %}


 {% block script_footer %}
    <script src="{{asset('bundles/user/js/Admin/Editar/validate.js') }}"></script>
        <script>
            $(document).ready(function() {

                $("#form-user_edit").on('submit', function(event) {
                    event.preventDefault();

                    var pass = $("#user_edit_password").val();
                    var pass2 = $("#user_edit_confirm").val();

                    if( pass == pass2 )
                    {
                        $(this).unbind().submit();
                    }else{
                        var html = "Las contrase&ntilde;as deben ser iguales";
                        $("#notEquals").show();
                        $("#notEquals").html(html);
                    }
                });


                $(".persJuridica").change(function() {
                    userType = $('.persJuridica  option:selected').val();
                    if (userType == "V" || userType == "E") {
                        $('.ci').removeAttr('disabled');
                    } else {
                        $('.ci').attr('disabled', 'disabled');
                    }
                });

                $(".numeric").keydown(function(e) {
                    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 || (e.keyCode == 65 && e.ctrlKey === true) || (e.keyCode >= 35 && e.keyCode <= 39)) {
                        return;
                    }

                    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                        e.preventDefault();
                    }
                });
            });
        </script>
    {% endblock %}